{% from "macros/navbar.html" import navbar %}
{% from "macros/theme-demo.html" import theme_demo %}
{% extends "base.html" %}
{% block title %}<title>Dash Bootstrap Components</title>{% endblock %}
{% block header %}{{ navbar("home") }}{% endblock %}
{% block body %}
<br>
<h2> be patient to explore</h2>
<br>

<div class="container">
  <main class="dbcd-main mb-5">
    <h1>Tarım Projesi</h1>
    <p class="lead">
Hava koşullarının büyüme oranlarına etkisi
    </p>
    <div class="row">
      <div class="col-12 col-md-4">
        <h2>Buğday -Arpa</h2>
        <div class="card">
          <a href="/examples/tarim">
            <img
              src="/static/images/examples/bugday.jpg"
              alt="Iris example screenshot"
              class="card-img-top card-img-bottom"
          /></a>
        </div>
        <p>
       Buğday mı daha hızlı büyür yoksa arpa mı ?
        </p>
      </div>

    </div>
  </main>
</div>

{% endblock %}
